@{
	ViewData["Title"] = "Forbidden Access";
}

<div class="d-flex flex-column" style="min-height: calc(100vh - 76px);">
	<div class="d-flex flex-grow-1 justify-content-center align-items-center">
		<div class="w-50 border rounded-3 d-flex flex-column gap-3 p-4">
			<h2 class="text-danger">Uh oh, you dont have access to here.</h2>
			<p class="text-danger"><b>Error 403</b></p>
		</div>
	</div>
</div>
